
{% extends 'base/base.html' %}
{% load static %}
 
 
     {% block content %}
    <div class = 'container' id = 'first-about'>
        <img class = 'physician-patient' src = '{% static "/images/doctor-patient.jpeg"%}'>
        <div class = 'about-text'>
            <h7 id = 'abouttext-left'>
                ABOUT TRUST DENTAL DDS
            </h7>
            <h4 id = 'abouttext-long'>
                SHARING THE GIFT OF HAPPINESS <br>
                ONE SMILE AT A TIME
            </h4>
            <div class = 'schedule-about'>
            <button id = 'schedule'><a id = 'book-online' href = 'appointment.html'>Schedule Visit</button></a>
        </div>
        </div>
    </div>
    <div class = 'container' id = 'second-about'>
        <div class = 'row'>
            <div class = 'column'>
        <div class = 'about-header'>
            <h3 id ='about-characteristics'>Building <span id = 'word-switch'></span> with our members</h3>
        </div>
    </div>
    <div class = 'column'>
        <h3 id = 'about-introduction'>
            Welcome to DDS dentistry. We here are happy to make your acquaintance. Not only are we focused with providing you with great service but we also seek to build Trust, Culture, Confidence, Connections and Relationships with all our members.
        </h3>
    </div>
    </div>
     <div class = 'row' id = 'comment-section'>
                <div class = 'comments'>
                <div class = 'column'>
                    <h6 id = 'visit-comment'>"New Favorite dental place. Everyone was so nice and warm. Unfortunately i have a root canal on my next visit but i know im in good hands."</h6>
                </div>
                <div class = 'column'>
                    <h6 id = 'visit-comment'> "Great atmosphere and staff... Felt at ease the minute I walked in. They really try and make you feel like a member of the club. Can't wait to come back for my next checkup."</h6>
                </div>
                <div class = 'column'>
                    <h6 id = 'visit-comment'>"My kids love it here. I usually have trouble getting them to the dentist but now all i have to say is we're going to the dentist and they're already in the car. The staff is amazing with kids. 10/10 recommend"</h6>
                </div>
            </div>
        </div>
    </div>
    <div class = 'container' id = 'goals'>
        <div class = 'convenience'>
            <h3 id = 'convenience-header'>Here at DDS our simple member process <br> makes it easy to keep a smile on your face</h4>
        </div>
        <div class = 'row'>
            <div class = 'column'>
                <div class = 'convenience-goals'>
                    <div id = 'icon-img'>
                    <i class="fas fa-link"></i>
                </div>
                    <div id = 'relationships'>
                        <h4 id = 'trust'>Here at DDS we offer clear pricing and deal with your insurance company directly allowing us to provide the best regiment to help provide the best treatement </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'column'>
                <div class = 'convenience-goals'>
                    <div id = 'icon-img'>
                        <i class="fas fa-hand-holding-heart"></i>
                </div>
                    <div id = 'relationships'>
                        <h4 id = 'culture'>You are part of our family and culture here at DDS. We consider you one of our own so we are commited to the quality of our customer service. We will never make a promise we can't keep.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'column'>
                <div class = 'convenience-goals'>
                    <div id = 'icon-img'>
                        <i class="fas fa-grin"></i>
                </div>
                    <div id = 'relationships'>
                        <h4 id = 'confidence'>We have an open review system that allows you help engage in building our reputation. Our products are available to members first along with our easy money back return policy.  </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'column'>
                <div class = 'convenience-goals'>
                    <div id = 'icon-img'>
                        <i class="fas fa-people-arrows"></i>
                </div>
                    <div id = 'relationships'>
                        <h4 id = 'connection'>To show how much our members mean to us, we provide free consultations and we offer discounts on family visitations. Reward points are earned for referals which can be redeemed online at our store</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'column'>
                <div class = 'convenience-goals'>
                    <div id = 'icon-img'>
                        <i class="fas fa-handshake"></i>
                </div>
                    <div id = 'loyalty'>
                        <h4>Here at DDS we offer clear pricing and deal with your insurance company directly allowing us to provide the best regiment to help provide the best treatement </h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div> 
    <div class = 'container' id = 'third-about'>
    <div class = 'meet-office'>
        <div class = 'member-header' style = 'text-align: center;'>
            <h3 id = 'office-members'>Meet the Office</h3>
        </div>
        <div class = 'row'>
            <div class = 'column'>
            <img class = 'card' src = '{% static "/images/blacklady_dentist.jpeg"%}'>
            <div class = 'overlay'>
            <h5 class = card-text> Dr. Lady Dentist</h5>
        </div>
        </div>
            <div class = 'column'>
            <img class = 'card' src = '{% static "/images/dentist-blackmale.jpeg"%}'>
            <div class = 'overlay'>
                <h5 class = card-text> Dr. Gentleman Dentist</h5>
            </div>
        </div>
            <div class = 'column'>
            <img class = 'card' src = '{% static "/images/ortho-asian.jpeg"%}'>
            <div class = 'overlay'>
                <h5 class = card-text> Dr. Lady Orthodontist</h5>
            </div>
        </div>
        </div>
        <div class = 'row'>
            <div class = 'column'>
            <img class = 'card' src = '{% static "/images/periodontist-white.jpeg"%}'>
            <div class = 'overlay'>
                <h5 class = 'card-text'> Dr. Gentleman Periodontist</h5>
            </div>
        </div>
            <div class = 'column'>
            <img class = 'card' src = '{% static "/images/surgeon-white.jpeg"%}'>
            <div class = 'overlay'>
                <h5 class = card-text> Dr. Gentleman Surgeon</h5>
            </div>
        </div>
            <div class = 'column'>
            <img class = 'card' src = '{% static "/images/lab-tech.jpeg"%}'>
            <div class = 'overlay'>
                <h5 class = 'card-text'> Mls. Lady Technician</h5>  </h5>

            </div>
        </div>
        </div>
        <div class = 'row'>
            <div class = 'column'>
            <img class = 'card' src = '{% static "/images/dental-assistant.jpeg"%}'>
            <div class = 'overlay'>
                <h5 class = 'card-text'> Cda. Lady Assistant</h5>
            </div>
        </div>
            <div class = 'column'>
            <img class = 'card' src = '{% static "/images/dental-receptionist.jpeg"%}'>
            <div class = 'overlay'>
                <h5 class = card-text> Lady Dental Receptionist</h5>
            </div>
        </div>
            <div class = 'column'>
            <img class = 'card' src = '{% static "/images/male-assistant.jpeg"%}'>
            <div class = 'overlay'>
                <h5 class = 'card-text'> Cda. Gentleman Assistant</h5>

            </div>
        </div>
        </div>
        </div>
        </div>
        <div class = 'container' id = 'forth-about'>
            <div class = 'no-insurance'>
                <div class = 'row'>
                    <div class = 'column'>
                        <div class = 'image-building'>
                            <img id = 'dental-chair' src = '{%static "/images/dental-chair.jpeg"%}'>
                        </div>
                    </div>
                    <div class = 'column'>
                        <div class = 'wellness-plan'>
                            <h3 id = 'wellness-header'>
                                Our Wellness plan
                            </h3>
                            <h5 id = 'wellness-text'>Here at DDS we believe it is a right for everyone to have access to the very best dental care. Due to this, we offer a Premium Wellness Plan to those without insurance. With this plan you are presented a plan that mimics the benefits of insurance at a flat rate.</h5>
                        </div>
                        <div class = 'plan'>
                            <h4 id = 'plan-header'>
                            For $299 a year, you are entitiled to: 
                        </h4>
                        </div>
                        <div class = 'plan-list'>
                            <h3 id = 'plan-cleaning'>
                                <i class="fas fa-check-circle"></i> 3 cleanings  
                        </h3>
                            <h3 id = 'plan-xray'>
                                <i class="fas fa-check-circle"></i> All needed x-rays  
                        </h3>
                            <h3 id = 'plan-consultation'>
                                <i class="fas fa-check-circle"></i> Free Orthodontist Consultation
                        </h3>
                            <h3 id = 'plan-discount'>
                                <i class="fas fa-check-circle"></i> 15% off all other dental services  
                        </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = 'container' id = 'final-about'>
            <div class = 'call'>
                <h2 id = 'call-now'>COME IN FOR A FREE CONSULTAION!</h2>
                <h2 id = 'phone-number'>
                <button id = 'call-button'><a id = 'call-characters' href = '#'>Give us a Call</button></a></h2>
            </div>
            </div>
            <hr>
  
   

        
  


     {% endblock content %}