
{% extends 'base/base.html' %}
{% load static %}
 {% load static %}
 
 
     {% block content %}
    <div class = 'container' id = 'first-about'>
        <img class = 'physician-patient' src = '{% static "/images/doctor-patient.jpeg"%}'>
        <div class = 'about-text'>
            <h7 id = 'abouttext-left'>
                ABOUT TRUST DENTAL DDS
            </h7>
            <h4 id = 'abouttext-long'>
                SHARING THE GIFT OF HAPPINESS <br>
                ONE SMILE AT A TIME
            </h4>
            <div class = 'schedule-about'>
            <button id = 'schedule'><a id = 'book-online' href = 'appointment.html'>Schedule Visit</button></a>
        </div>
        </div>
    </div>
    <div class = 'container' id = 'second-about'>
        <div class = 'row'>
            <div class = 'column'>
        <div class = 'about-header'>
            <h3 id ='about-characteristics'>Building <span id = 'word-switch'></span> with our members</h3>
        </div>
    </div>
    <div class = 'column'>
        <h3 id = 'about-introduction'>
            Welcome to DDS dentistry. We here are happy to make your acquaintance. Not only are we focused with providing you with great service but we also seek to build Trust, Culture, Confidence, Connections and Relationships with all our members.
        </h3>
    </div>
    </div>
    </div> 
    <div class = 'container' id = 'third-about'>
    <div class = 'meet-office'>
        <div class = 'member-header' style = 'text-align: center;'>
            <h3 id = 'office-members'>Meet the Office</h3>
        </div>
        <div class = 'row'>
            <div class = 'column'>
            <img class = 'card' src = '{% static "/images/ortho-firstwoman.jpeg"%}' style = 'width: 18rem; height:22vw;'>
            <div class = 'overlay'>
            <h5 class = card-text> Ms. Lady Dentist</h5>
        </div>
        </div>
            <div class = 'column'>
            <img class = 'card' src = '{% static "/images/dentist-blacklady.jpeg"%}' style = 'width: 18rem; height:22vw;'>
            <h5 class = card-text> Ms. Lady Dentist</h5>
        </div>
            <div class = 'column'>
            <img class = 'card' src = '{% static "/images/dentist-blackmale.jpeg"%}' style = 'width: 18rem; height:22vw;'>
            <h5 class = card-text> Ms. Lady Dentist</h5>
        </div>
        </div>
        <div class = 'row'>
            <div class = 'column'>
            <img class = 'card' src = '{% static "/images/dental-hygenistlady.jpeg"%}' style = 'width: 18rem; height:22vw;'>
            <h5 class = card-text> Ms. Lady Dentist</h5>
        </div>
            <div class = 'column'>
            <img class = 'card' src = '{% static "/images/ortho-firstwoman.jpeg"%}' style = 'width: 18rem; height:22vw;'>
            <h5 class = card-title> Ms. Lady Dentist</h5>
        </div>
            <div class = 'column'>
            <img class = 'card' src = '{% static "/images/ortho-firstwoman.jpeg"%}' style = 'width: 18rem; height:22vw;'>
            <h5 class = card-title> Ms. Lady Dentist</h5>
        </div>
        </div>
    </div>
    </div>

     {% endblock content %}