
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/76066c858e.js" crossorigin="anonymous"></script>
 <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans&family=Satisfy&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans&family=Poppins&family=Satisfy&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <link rel = 'stylesheet' href = "{% static '/css/style.css' %}"> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    
   


     <title>Orthodontics</title>
    

    
</head>

<body class = 'home-page'>
    
 <nav id = 'navbar'>
        <div class= 'logo'>
        <a class = 'logo-link' href = 'home.html'><span id = 'logo'><i class="fas fa-tooth"></i></span></a>
        <a id = 'logo-link' href = 'home.html'><h2 class = 'dentist-name'>Orthodontist</h2></a>
        </div>
  <ul class = 'nav-tabs'>
        <li id = 'nav-link'><a href = 'about.html'>About Us</a></li>
        <li id = 'nav-link'><a href = 'services.html'>Services</a></li>
        <li id = 'nav-link'><a href = 'contact.html'>Contact</a></li>
        <li id = 'nav-link'><a href = 'shop.html'>Shop</a></li>
        <li id = 'nav-link'><a href = 'appointment.html'>Appointment</a></li>
        

        <div class = 'bars'>
            <i class="fas fa-bars"></i>
        </div>
    </ul> 
    </nav> 

 <nav id = 'vertical-nav'>
        <ul class = 'vertical-tabs'>
            <li id = 'vertical-links'><a class = 'vertical-ref-about' href = 'about.html'>About Us</a></li>
            <li id = 'vertical-links'><a class = 'vertical-ref-service'  href = 'services.html'>Services</a></li>
            <li id = 'vertical-links'><a class = 'vertical-ref-contact' href = 'contact.html'>Contact</a></li>
            <li id = 'vertical-links'><a class = 'vertical-ref-store' href = 'shop.html'>Store</a></li>
            <li id = 'vertical-links'><a class = 'vertical-ref-appointment' href = 'contact.html'>Appointment</a></li>
   
        </nav>

        <script>
            $('.bars').click(function(){($('#vertical-nav').fadeToggle(600))}); 
            $(window).scroll(function(){
                $('#navbar').toggleClass('scrolled', $(this).scrollTop()>50);
            })
            
        




           </script> 
        </body>


        {% block content %}
        {% endblock content %}


        <footer>
            <div class = 'container-seven'>
                <div class = 'footer-row'>
                    <div class = 'column' id = 'info-column'> 
                    <h1 id = 'footer-info'>Information</h1>
                    <p id = 'address'>East 64th Street <br>New York, NY 10021</p>
                    <div class = 'navigation'>
                    <button id = 'navigation-button'><a id = 'navigation-link' href = 'https://goo.gl/maps/qpYiHy8nLZ94jBiU7'>Get directions<p id = 'get-directions'></p></a></button>
                </div>
                </div>
            
                <div class = 'column' id = 'services-column'>
                    <h1 id = 'footer-services'>Services</h1>
                    <ul id = footerservices-list>
                        <li>General</li>
                        <li>Dental Bonding</li>
                        <li>Veeners</li>
                        <li>Crowns</li>
                        <li>Contouring/Reshaping</li>
                        <li>Braces</li>
                        <li>Composite Fillings</li>
                        <li>Implants</li>
            
                    </ul>
                    </div>
                <div class = 'column' id = 'social-column'>  
                    <h1 id = 'footer-social'>Social</h1>
                    <ul id = 'socialplatforms-list'>
                        <li><i class="fab fa-facebook"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-instagram"></i></li>
            
                    </ul>
                </div>
                </div>
            </div>
            </footer>
            </html>

           
            
            