{% extends 'base/base.html' %}
{% load static %}
 {% load static %}
 
 
     {% block content %}
    <div class = 'container' id = 'first-contact'>
        <img class = 'contact-image' src = '{% static "/images/group-dentists.jpeg"%}'>
    </div>

    <div class = 'container' id = 'first-contactcont'>
        <div class = 'row' id = 'contact-row'>
            <div class = 'column' id = 'leftside-column'>
                <i class="fas fa-map-marker-alt"></i>
                <p id = 'contact-location'>Location</p>
                <p id = 'contact-address'>East 64th Street, <br> New York, NY 10021 </p>
                <div class = 'contact-electronic'>
                    <h3 id = 'contact-call'>(111)333-4444</h3>
                    <p id = 'contact-mail'>dds.example.com</p>
                </div>
            </div>
            <div class = 'column' id = 'rightside-column'>
                <i class="fas fa-clock"></i>
                <p id = 'contact-hours'>Open</p>
                <p id = 'contact-open'> Mon 9:00am - 5:00pm </p>
                <p id = 'contact-open'> Tue 9:00am - 5:00pm </p>
                <p id = 'contact-open'> Wed 9:00am - 5:00pm </p>
                <p id = 'contact-open'> Thu 9:00am - 5:00pm </p>
                <p id = 'contact-open'> Fri 9:00am - 5:00pm </p>
                <p id = 'contact-open'> Sat 12:00pm - 4:00pm </p>
                </div>
            </div>
        </div>
   <div class = 'container' id = 'second-contact'>
    <div class = 'visit'>
        <h3 id = 'visit-header'>
            Have Any Questions?  
        </h3>
    </div>
   </div>

   <div class = 'container' id = 'third-contact'>
       <div class = 'appointment-form'>
           <form action = '{% url "contact" %}' method = 'post'>
               {% csrf_token %}
               <div class = 'row' id = 'form-name'>
                       <input class = 'name-form' type = 'text' name = 'patron-name' placeholder = 'FULL-NAME'>
                   </div>
             
               <div class = 'row' id = 'form-email'>
                       <input class = 'email-form' type = 'email' name = 'patron-email' placeholder = 'EMAIL'>
                   </div>
                   <div class = 'row' id = 'form-subject'>
                    <input class = 'subject-form' type = 'text' name = 'patron-subject' placeholder = 'SUBJECT'>
                   </div>
                   <div class = 'row' id = 'message'>
                    <textarea class= 'message-form' name = 'patron-message' placeholder = 'HOW MAY WE HELP YOU?'></textarea> 
                   </div>
                   <div class = 'row' id = 'form-submit'>
                    <button id = 'formsubmit-button'><a id = 'formsubmit-characters' href = '#'>SUBMIT</button></a></h2>
                   </div>
                </form>
                   </div>
                   </div>
                   

    <div class = 'container' id = 'fourth-contact'>
        <div class = 'career-opportunity'>
            <h3 id = 'career-text'>Join the Team</h3>
            <h5 id = 'team-text'>Are you passionate about a helping other put a smile on thier face?</h5>
            <div class = 'reachout-btn'>
            <button id = 'reach-out'><a id = 'call-characters' href = '#'>Give us a Call</button></a>
        </div>
        </div>
    </div>
    <hr>
             

               
          

  
 
     {% endblock content %}