{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/76066c858e.js" crossorigin="anonymous"></script>
 <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel = 'stylesheet' href = "{% static '/css/style.css' %}"> 
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>



     <title>Orthodontics</title>
    

    
</head>

<header class = 'nav-bar'>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class= 'logo-img'>
            <a class = 'logo-link' href = 'home.html'><span id = 'logo'><i class="fas fa-tooth"></i></span></a>
            </div>
        <a class="navbar-brand" href="home.html">Dentist</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="appointment.html">Appointment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="shop.html">Shop</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
<body>
            <div id = 'vid'>
        <video autoplay loop muted playsinline>
            <source src = '{% static "/videos/ortho-video5.mp4" %}' type = 'video/mp4'>
            Your browser does not support the video tag
                </video> 
    
            <div class = 'content d-flex align-items-center'>
            <div class = 'container text-center'>
                <h1 class = 'welcome'>Welcome to DDS Dental</h1>
            <a class = 'btn btn-outline-dark btn-lg' href='{% url "appointment" %}'>Book Online</a>
            </div>
            
            </div>
</div>
   <main>
<section class = 'section-1'>
    <div class = 'container text-center'>
        <div class = 'row'>
            <div class="col-md-6 col-12">
                <div class = 'dental-image'>
                    <img src = '{% static "/images/brunette-dentist.jpg" %}' alt="dentist-patient">
                </div>
            </div>
<div class="col-md-6 col-12">
    <div class="caption text-center">
        <h1>Welcome back to your dental safe haven</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae lacinia sapien. Suspendisse in leo orci. Etiam non turpis et turpis condimentum scelerisque. Aliquam sed ipsum iaculis, vulputate orci in, posuere leo. Pellentesque ultrices non lorem vitae viverra. Aliquam ultrices nunc et nibh tincidunt vehicula.</p>
    </div>
</div>
        </div>
        </div>
</section>
</main>

<section class="section-2 container-fluid p-0">
    <div class = 'banner'>
        
        <div class = 'banner-content text-center'>
           <h1>Great Dental Service for our patients</h1>
           <p>Nunc sollicitudin ac tortor eu venenatis. Aenean ac accumsan justo. Duis sit amet massa blandit risus semper luctus sed ut nisi. Mauris ultrices tellus egestas lectus malesuada, nec placerat turpis consequat. Phasellus commodo dignissim ipsum ac eleifend. Sed bibendum elit ligula, ac facilisis mauris hendrerit non.</p>
           <a class = 'btn btn-outline-dark btn-lg' href='{% url "services" %}'>View Services</a>
        </div>
    </div>
</section>

<section class="section-3 ">
    <div class = 'container text-center'>
        <div class="row">
            <div class="col-sm-4">
              <div class="card mt-5">
                <img src='{% static "/images/teeth-whitening.jpeg"%}' class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Teeth Whitening</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card mt-5">
                <img src='{% static "/images/cosmetic-dentistry.jpeg"%}' class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cosmestic Dentistry</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card mt-5">
                <img src='{% static "/images/invisalign.jpeg"%}' class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Invisalign</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 
                </div>
              </div>
            </div>
          </div>
        <div class="row">
            <div class="col-sm-4">
              <div class="card mt-5">
                <img src='{% static "/images/professional-cleaning.jpeg"%}' class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Professional Cleaning</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card mt-5">
                <img src='{% static "/images/root-canal.jpeg"%}' class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Root Canal</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card mt-5 mb-5">
                <img src='{% static "/images/gum-disease-treatment.jpeg"%}' class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Gum Disease Treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
              </div>
            </div>
          </div>
    </div>
</section>

<section class="section-4">
    <div class="container-fluid text-center mt-0">
        <div class = 'insurance-text'>
            <h1>Insurance</h1>
            <h6>We are the preferred choice with all the
                 PPO insurance networks listed, and more. 
                Please contact the office to 
                further inquire about your 
                insurance coverage.</h6>
        </div>
        </div>
        <div class="container text-center">
          <div class="insurance-images">
            <div class="row">
                <div class="col-md-3 col-mx-auto">
                    <img src = '{% static "/images/aetna.webp" %}'>
                </div>
                <div class="col-md-3 mx-auto">
                    <img src = '{% static "/images/blue-cross-blue-shield.webp" %}'>
                </div>
                <div class="col-md-3  mx-auto">
                    <img src = '{% static "/images/cigna.webp" %}'>
                </div>
                <div class="col-md-3 mx-auto">
                    <img src = '{% static "/images/delta-dental.webp" %}'>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3  mx-auto">
                    <img src = '{% static "/images/guardian-logo.webp" %}'>
                </div>
                <div class="col-md-3  mx-auto">
                    <img src = '{% static "/images/metlife.webp" %}'>
                </div>
                <div class="col-md-3  mx-auto">
                    <img src = '{% static "/images/sun-life.webp" %}'>
                </div>
                <div class="col-md-3 mx-auto mb-5">
                    <img src = '{% static "/images/united.webp" %}'>
                </div>
            </div>
               </div>
     
</section>
<section class="section-5">
  <div class="container-fluid">
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12086.953619939819!2d-73.971833!3d40.767778!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x65d72e84d91a3f14!2sCentral%20Park%20Zoo!5e0!3m2!1sen!2sus!4v1653024059112!5m2!1sen!2sus" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  </div>
</section>

 





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src = "{% static 'js/app.js'%}"></script>
    <script>
        objectFitVideos();
    </script>
</body>

<footer class="footer-new">
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-3">
  <div class="contact-details mt-4">
    <h5>CONTACT DETAILS</h5>
    <p>East 64th Street <br>New York, NY 10021</p>
    <a class = 'btn btn-outline-dark btn-lg' href='https://goo.gl/maps/qpYiHy8nLZ94jBiU7'>Get Directions</a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="office-hours mt-4">
      <h5>OFFICE HOURS</h5>
      <p>Monday:8am to 5pm</p>
      <p>Tuesday:8am to 5pm</p>
      <p>Wednesday:8am to 5pm</p>
      <p>Thursday:8am to 5pm</p>
      <p>Friday:11am to 4pm</p>
      <p>Saturday:12pm to 3pm</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="quick-links mt-4">
      <h4>QUICK LINKS</h4>
      <p><a class ='footer-link' href='home.html'>HOME</a></p>
      <p><a class ='footer-link' href='about.html'>ABOUT</a></p>
      <p><a class ='footer-link' href='contact.html'>CONTACT</a></p>
      <p><a class ='footer-link' href='services.html'>SERVICES</a></p>
      <p><a class ='footer-link' href='appointment.html'>APPOINTMENT</a></p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="social-links mt-4">
      <h4>SOCIAL</h4>
    <p> <a href = 'facebook.com'><i class="fab fa-facebook"></i></a></p>
   <p> <a href = 'twitter.com'><i class="fab fa-twitter"></i></a></p>
   <p> <a href = 'instagram.com'><i class="fab fa-instagram"></i></a></p>
    </div>
  </div>
</div>
</div>
   

</footer>




</html>

