{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/76066c858e.js" crossorigin="anonymous"></script>
 <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel = 'stylesheet' href = "{% static '/css/style.css' %}"> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    
   


     <title>Orthodontics</title>
    

    
</head>

<body class = 'home-page'>
    
    <nav id = 'navbar'>
           <div class= 'logo'>
           <a class = 'logo-link' href = 'home.html'><span id = 'logo'><i class="fas fa-tooth"></i></span></a>
           <a id = 'logo-link' href = 'home.html'><h2 class = 'dentist-name'>Orthodontist</h2></a>
           </div>
     <ul class = 'nav-tabs'>
           <li id = 'nav-link'><a href = 'about.html'>About Us</a></li>
           <li id = 'nav-link'><a href = 'services.html'>Services</a></li>
           <li id = 'nav-link'><a href = 'contact.html'>Contact</a></li>
           <li id = 'nav-link'><a href = 'shop.html'>Shop</a></li>
           <li id = 'nav-link'><a href = 'appointment.html'>Appointment</a></li>
           
   
           <div class = 'bars'>
               <i class="fas fa-bars"></i>
           </div>
       </ul> 
       </nav> 
   
    <nav id = 'vertical-nav'>
           <ul class = 'vertical-tabs'>
               <li id = 'vertical-links'><a class = 'vertical-ref-about' href = 'about.html'>About Us</a></li>
               <li id = 'vertical-links'><a class = 'vertical-ref-service'  href = 'services.html'>Services</a></li>
               <li id = 'vertical-links'><a class = 'vertical-ref-contact' href = 'contact.html'>Contact</a></li>
               <li id = 'vertical-links'><a class = 'vertical-ref-store' href = 'shop.html'>Store</a></li>
               <li id = 'vertical-links'><a class = 'vertical-ref-appointment' href = 'contact.html'>Appointment</a></li>
      
           </nav>
           <script>
            $('.bars').click(function(){($('#vertical-nav').fadeToggle(600))}); 
            $(window).scroll(function(){
                $('#navbar').toggleClass('scrolled', $(this).scrollTop()>50);
            })
           </script> 


<div class = 'container-main'>
     <div class = 'video-container'>
        <video src = '{% static "/videos/ortho-video3.mp4" %}' autoplay muted loop id = 'main-video'>
   Your browser does not support the video tag
   </video> 
  <div class = 'main-text'>
    <p id = maintext-left>
        DDS Dentists Trust
    </p>
    <p id = maintext-second>
        Exceptional Care <br>for all ages
    </p>
    <div class = 'schedule'>
    <button id = 'schedule'><a id = 'book-online' href = '{% url "appointment" %}'>Book Online</button></a>
</div>
</div>
    </div> 
    </div>
    

    
  <div class = 'container-two'>
 <img class = 'dentist-image' src = '{% static "/images/black-dentist.jpeg" %}' ALIGN = 'left'> 
<div class = 'maskimage-text'>
    <i class="fas fa-head-side-mask"></i>
<p id = 'mask-text'>
    We ensure our patients are in a stress-free environment during these times. We do attempt to acommodate all our patients, for more information regarding our Covid Procedures please contact us.
</p>
</div>
    
    <img class = 'techimage' src = '{% static "/images/dentist-tech.jpeg" %}' ALIGN = 'right'>
    <div class = 'techlogo-text'>  
    <i class="fas fa-atom"></i>
        <p id = 'tech-text'>With our state of the art technology such as 3D imaging, Chairside CAD/CAM systems, surgical Microsopes and Dental Microscopes, we are able to offer in-house, same day services such as crown replacements, wisdom tooth extractions, dental implants, root canal surgery and Cosmestic Surgeries </p>
    </div>
    
</div>
<div class = 'container-three'>
    <div class = 'dentalprocedure-image'>
    <img id = 'dentalprocedure-image' src = '{% static "/images/dental-procedure.jpeg" %}' ALIGN = 'left'>
    <div class = 'procedures'>
    <h1 class ='procedure-text'>Our Services</h1>
    <div class = 'procedure-list'>
    <ul id = 'procedure-list'>
        <li id = list-dentalbonding>
            Dental Bonding
        </li> 
        <li id = list-veneers>
           Veneers
        </li> 
        <li id = list-crowns>
            Crowns
        </li> 
        <li id = list-contouring>
            Contouring/Reshaping
        </li> 
        <li id = list-braces>
            Braces
        </li> 
        <li id = list-composite>
           Composite Fillings
        </li> 
        <li id = list-implants>
            Implants
        </li> 
    </div>
        <div class = 'learn-button'>
       <button class = 'learn-more'><a id = 'learn-more' href = 'contact'>Learn More</a></button>
    </div>
    </ul>
    </div>
</div>
</div>


<div class = 'container-four'>
    <div class ='insurance'>
        <h1 id = 'insurance-header'>
            Check your Insurance
        </h1>
        <p id = 'insurance-text'>We accept most insurance providers. Please contact us to confirm we are in your network.</p> </p>
    </div>
    <div class = 'insurance-logo'>
        <table id = 'insurance-table'>
            <tr id = 'first-row'>
                <td><img id = 'unitedinsurance-image' src = '{% static "/images/united-healthcare.jpeg" %}'></td>
                <td><img id = 'cigna-image' src = '{% static "/images/cigna.jpeg" %}'></td>
                <td><img id = 'metlife-image' src = '{% static "/images/metlife.jpeg" %}'></td>
            </tr>
            <tr id = 'second-row'>
                <td><img id = 'humana-image' src = '{% static "/images/humana.png" %}'></td>
                <td><img id = 'guardian-image' src = '{% static "/images/guardian.jpeg" %}'></td>
                <td><img id = 'delta-dental-image' src = '{% static "/images/delta-dental.jpeg" %}'></td>
            </tr>
            <tr id = 'third-row'>
                <td><img id = 'careington-image' src = '{% static "/images/careington.png" %}'></td>
                <td><img id = 'ameritas-image' src = '{% static "/images/ameritas.png" %}'></td>
                <td><img id = 'aetna-image' src = '{% static "/images/aetna.png" %}'></td> 
            </tr>
            <tr id = 'fourth-row'>
                <td><img id = 'blue-shield-image' src = '{% static "/images/blue-shield.jpeg" %}'></td>
                <td><img id = 'blue-cross-image' src = '{% static "/images/blue-cross.jpeg" %}'></td>
                <td><img id = 'geha-image' src = '{% static "/images/geha.png" %}'></td> 
            </tr>
            <tr id = 'fifth-row'>
                <td><img id = 'lincoln-national-image' src = '{% static "/images/lincoln-national.png" %}'></td>
                <td><img id = 'premier-dental-image' src = '{% static "/images/premier-dental.jpeg" %}'></td>
                <td><img id = 'united-concordia-image' src = '{% static "/images/united-concordia.jpeg" %}'></td> 
            </tr>
        </table>
    </div>
</div>


<div class = 'container-five'>
<div class = 'new-patients'> 
<h2 id = 'newpatient-header'>Now Welcoming New Patients</h2>
<p id = 'newpatient-text'>Set up an appointment, we can't wait to meet you</p>
</div>
<div class = 'patient-button'>
<button id = 'newpatient-appointment'><a id = 'newpatient-link' href = 'appointment'>Appointment</button></a>
</div>
</div>




<div class = 'container-six'>
    <div class = 'location-header'>
        <i class="fas fa-map-marker"></i>
        <h1 id = 'header'>
            Find Us Here
        </h1>
    </div>
    <div id = 'map'>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3021.7384049849547!2d-73.9740222!3d40.767778!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f1fcd66869%3A0x65d72e84d91a3f14!2sCentral%20Park%20Zoo!5e0!3m2!1sen!2sus!4v1647136084452!5m2!1sen!2sus" width="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
</body>

<footer>
<div class = 'container-seven'>
    <div class = 'footer-row'>
        <div class = 'column' id = 'info-column'> 
        <h1 id = 'footer-info'>Information</h1>
        <p id = 'address'>East 64th Street <br>New York, NY 10021</p>
        <div class = 'navigation'>
        <button id = 'navigation-button'><a id = 'navigation-link' href = 'https://goo.gl/maps/qpYiHy8nLZ94jBiU7'>Get directions<p id = 'get-directions'></p></a></button>
    </div>
    </div>

    <div class = 'column' id = 'services-column'>
        <h1 id = 'footer-services'>Services</h1>
        <ul id = footerservices-list>
            <li>General</li>
            <li>Dental Bonding</li>
            <li>Veeners</li>
            <li>Crowns</li>
            <li>Contouring/Reshaping</li>
            <li>Braces</li>
            <li>Composite Fillings</li>
            <li>Implants</li>

        </ul>
        </div>
    <div class = 'column' id = 'social-column'>  
        <h1 id = 'footer-social'>Social</h1>
        <ul id = 'socialplatforms-list'>
            <li><i class="fab fa-facebook"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-instagram"></i></li>

        </ul>
    </div>
    </div>
</div>
</footer>

    


</html>

