{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" 
    crossorigin="anonymous">
    <link rel = 'stylesheet' href = "{% static '/css/style.css' %}">
    <title>Orthodontics</title>
</head>
<body class = 'home-page'>

    <h1> Hello world</h1>
    <h2> Hello world</h2>
    <nav id = 'navbar'>
        <a class = 'logo-link' href = 'home.html'><span id = 'logo'><i class="fas fa-tooth"></i></span></a>

    <ul class = 'nav-tabs'>
        <li id = 'nav-link'><a href = 'about'>About Us</a></li>
        <li id = 'nav-link'><a href = 'services'>Services</a></li>
        <li id = 'nav-link'><a href = 'about'>Contact</a></li>
    </ul>
    </nav>
</body>
</html>
