*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


 #navbar{
    position: fixed; 
    z-index: 10;
    left: 0; 
    right: 0;
    top: 0;
    height: 60px;
  /* background-color:gray; */
}

.logo{
    float: left;
    width: 50%; 
    height: 100%;
    display:flex;
    align-items: center;
    
}
.fa-tooth{
    color:white;
    font-size: 30px;
    

}

#logo-link, .dentist-name{
    text-decoration: none;
    color:black;
    padding: 5px;
}
.nav-tabs{
    float:right;
    padding: 0; 
    margin: 0; 
    width: 50%; 
    height: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#nav-link {
    list-style:none;
}

.nav-tabs a{
   text-decoration: none;
   color:black;
 font-family:'Source Sans Pro', sans-serif; 
}

.bars{
    visibility: show;
    color:black;
} 

#vertical-nav{
    position: fixed;
    width:100%;
    text-align: center;
    padding:61px;
    text-decoration: none;
    display: none;
}

.vertical-tabs{
    list-style-type: none;
}
#vertical-links{
    padding: 10px;
    
}

.vertical-ref-about{
    text-decoration: none;
    background-color:grey;
    padding: 10px 20px;
    align-items: center;
    text-align: center;
    border: 1px black solid;
    color:white;
}
.vertical-ref-service{
    text-decoration: none;
    background-color:grey;
    padding: 10px 24px;
    align-items: center;
    text-align: center;
    border: 1px black solid;
    color:white;
}
.vertical-ref-contact{
   text-decoration: none;
   background-color:grey;
   padding: 10px 26px;
   align-items: center;
   text-align: center;
   border: 1px black solid;
   color:white;
}
.vertical-ref-store{
   text-decoration: none;
   background-color:grey;
   padding: 10px 34px;
   align-items: center;
   text-align: center;
   border: 1px black solid;
   color:white;
}
.vertical-ref-appointment{
  text-decoration: none;
  background-color:grey;
  padding: 10px 9px;
  align-items: center;
  text-align: center;
  border: 1px black solid;
  color:white;
}
  
 .container-main{
    height:650px;
    overflow: hidden;
} 

#main-video{
   width:100%;
} 


.main-text{
    position:relative;
    bottom:80%;
    text-align: left;
    padding-left: 10px;
    font-family: 'Source Sans Pro', sans-serif;
  
}

#maintext-left{
    text-transform: uppercase;
    font-size:40px;
    color:rgba(0,0,0,.7)
}
#maintext-second{
    padding-top:20px;
    text-transform: uppercase;
    font-size:40px;
    color:rgba(0,0,0,.7)
}

.schedule{
    padding-top: 35px;
    padding-left:70px;
}
#schedule{
    text-transform: uppercase;
    font-size:20px;
    background-color:gold;
    color:rgba(0,0,0,.7);
    border-radius: 20px;
    border:gold;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom: 5px;
}

#book-online{
    text-decoration: none;
    color:black;
    font-family:'Source Sans Pro', sans-serif; 
}

.container-two{
    height:1450px;
    overflow:hidden;
 /* background: #2980B9;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   padding-top:100px; 
}


.maskimage-text{
  padding-top:115px;
  text-align: center;
}

#mask-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  padding-top: 30px;
  margin: 0;
}

.fa-head-side-mask{
font-size: 50px;
color:grey;
}

.techimage{
   padding-top: 300px;
   height:700px;
}


.techlogo-text{
    padding-top:420px;
    text-align: center;
}

.fa-atom{
    font-size:50px;
    color:grey;
}


 #tech-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-top:40px;
    margin: 0;
} 

 .container-three{
    height:450px;
  /*  overflow: hidden; */
} 

#dentalprocedure-image{
position:relative;
bottom: 120px;
}

.procedure-text{
    text-align: center;
    text-transform: uppercase;
}

.procedure-list{
text-align: left;
}
#procedure-list{
    list-style-type: circle;
  list-style-position: inside; 
    text-align: center; 
   

    
}

#list-dentalbonding{
   padding-top:10px; 
    font-size:18px;
    padding-right: 60px;
 /*   padding-bottom:10px; */
    font-family: 'Open Sans', sans-serif;
  
} 
#list-veneers{
  /*  padding-top:10px; */
    font-size:18px;
    padding-right:120px;
  /*  text-align: center; */
 /*   padding-bottom:10px; */
    font-family: 'Open Sans', sans-serif;
  
} 

#list-crowns{
    font-size:18px;
  /*  text-align: center; */
  /*  padding-bottom:10px; */
    font-family: 'Open Sans', sans-serif;
    padding-right:125px;
}
#list-contouring{
    font-size:18px;
  /*  text-align: center; */
  /*  padding-bottom:10px; */
    font-family: 'Open Sans', sans-serif;
    
}
#list-braces{
    font-size:18px;
  /*  text-align: center; */
  /*  padding-bottom:10px; */
    font-family: 'Open Sans', sans-serif;
    padding-right: 130px;
}
#list-composite{
    font-size:18px;
  /*  text-align: center; */
  /*  padding-bottom:10px; */
    font-family: 'Open Sans', sans-serif;
    padding-right: 34px;
}
#list-implants{
    font-size:18px;
  /*  text-align: center; */
  /*  padding-bottom:10px; */
    font-family: 'Open Sans', sans-serif;
    padding-right: 110px;
}

.learn-button{
    padding-top:20px;
    text-align: center;
}
.learn-more{
    background-color: gold;
    border-radius: 20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:10px;
}

#learn-more{
    text-decoration: none;
    color:black;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;
}

.container-four{
    padding-top: 32px;
    height:875px;
    background-color: white;
   
}

#insurance-header{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#insurance-text{
    padding-top:20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.insurance-logo{
    text-align: center;
    padding-top:30px;
    padding-left:175px;
    font-size: 10px;
} 


 #cigna-image{
    width: 250px;
} 
 #metlife-image{
    width: 250px;
} 
 #humana-image{
    width: 250px;
} 
 #guardian-image{
    width: 225px;
} 
 #delta-dental-image{
    width: 225px;
} 

#careington-image{
    width:250px;
}
#ameritas-image{
    width:300px;
}
#aetna-image{
    width:200px;
}
#geha-image{
    width:200px;
}
#lincoln-national-image{
    width:250px;
}

.container-five{
    height:200px;
    background-color: white;
    
}

.patient-row .column{
    padding-top:55px;
    float:left;
    width:50%;
    text-align: right;

}
/* .new-patients{
    text-align: center;
    overflow: hidden;
    padding-top:40px;
} */



#newpatient-header{
    font-family: 'Open Sans', sans-serif;
   font-size:30px;
}

#newpatient-text{

   font-size:20px;
}

.patient-button{
padding-top: 20px;
text-align: center;
}


#newpatient-appointment{
    background-color: gold;
    border-radius: 20px;
   border:gold;
   padding-left:10px;
   padding-right:10px;
   padding-top:5px;
   padding-bottom: 5px;
}

#newpatient-link{
    text-decoration: none;
    text-transform: uppercase;
    color:black;
    font-family:'Source Sans Pro', sans-serif; 
    font-size: 15px;
}

.container-six{
    padding-top:30px;
    height: 630px;
    background-color: white;
    overflow: hidden;
}

.fa-map-marker{
    font-size: 40px;
}

.location-header{
text-align: center;
}

#header{
padding-top:15px;
}
#map iframe{
    padding-top:10px;
    width:100%;
    height:508px;
    overflow: hidden;
    
}

.container-seven{
    height:355px;
}

.footer-row{
    padding-top:35px;
    text-align: center;
}

.column{
    float:left;
    width:33.3%;

}

#footerservices-list{
    padding-top: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    font-size: 20px;
}

#socialplatforms-list{
    padding-top:20px;
    text-align: center;
    list-style-type: none;
}

.fa-facebook{
    font-size: 30px;
    color:blue;
}
.fa-twitter{
    font-size: 30px;
    padding-top:20px;
    color:rgb(29,161,242);
}
.fa-instagram{
    font-size: 30px;
    padding-top:20px;
    color:rgb(131,58,180);
}

#address{
    padding-top:20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.navigation{
    padding-top:15px;
    text-align: center;
}

#navigation-button{
    background-color:gold;
    border-radius: 20px;
    border:gold;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom: 5px;
}

#navigation-link{
    color:black;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}



/* #get-directions{
    padding-top:15px;
    font-family: 'Open Sans', sans-serif;
}

#navigation-link{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color:gold;

}*/