*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


 #navbar{
    position: fixed; 
    z-index: 10;
    left: 0; 
    right: 0;
    top: 0;
    height: 60px;
  /* background-color:gray; */
}

.logo{
    float: left;
    width: 50%; 
    height: 100%;
    display:flex;
    align-items: center;
    
}
.fa-tooth{
    color:white;
    font-size: 30px;
    

}

#logo-link, .dentist-name{
    text-decoration: none;
    color:black;
    padding: 5px;
}
.nav-tabs{
    float:right;
    padding: 0; 
    margin: 0; 
    width: 50%; 
    height: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#nav-link {
    list-style:none;
}

.nav-tabs a{
   text-decoration: none;
   color:black;
 font-family:'Source Sans Pro', sans-serif; 
}

.bars{
    visibility: show;
    color:black;
} 

#vertical-nav{
    position: fixed;
    width:100%;
    text-align: center;
    padding:61px;
    text-decoration: none;
    display: none;
}

.vertical-tabs{
    list-style-type: none;
}
#vertical-links{
    padding: 10px;
    
}

.vertical-ref-about{
    text-decoration: none;
    background-color:grey;
    padding: 10px 20px;
    align-items: center;
    text-align: center;
    border: 1px black solid;
    color:white;
}
.vertical-ref-service{
    text-decoration: none;
    background-color:grey;
    padding: 10px 24px;
    align-items: center;
    text-align: center;
    border: 1px black solid;
    color:white;
}
.vertical-ref-contact{
   text-decoration: none;
   background-color:grey;
   padding: 10px 26px;
   align-items: center;
   text-align: center;
   border: 1px black solid;
   color:white;
}
.vertical-ref-appointment{
  text-decoration: none;
  background-color:grey;
  padding: 10px 9px;
  align-items: center;
  text-align: center;
  border: 1px black solid;
  color:white;
}
  
 .container-main{
    height:650px;
    overflow: hidden;
} 

#main-video{
   width:100%;
} 


.main-text{
    position:relative;
    bottom:80%;
    text-align: left;
    padding-left: 10px;
    font-family: 'Source Sans Pro', sans-serif;
  
}

#maintext-left{
    text-transform: uppercase;
    font-size:40px;
    color:rgba(0,0,0,.7)
}
#maintext-second{
    padding-top:20px;
    text-transform: uppercase;
    font-size:40px;
    color:rgba(0,0,0,.7)
}

.schedule{
    padding-top: 35px;
    padding-left:70px;
}
#schedule{
    text-transform: uppercase;
    font-size:20px;
    background-color:gold;
    color:rgba(0,0,0,.7);
    border-radius: 20px;
    border:gold;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom: 5px;

}

.container-two{
    height:1450px;
    background-color:white; 
    overflow: hidden;
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-top:100px;
}


.maskimage-text{
  padding-top:125px;
  text-align: center;
}

#mask-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  padding-top: 40px;
  margin: 0;
}

.fa-head-side-mask{
font-size: 50px;
}

.techimage{
   padding-top: 280px;
}


.techlogo-text{
    padding-top:420px;
    text-align: center;
}

.fa-atom{
    font-size:50px;
}


 #tech-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-top:40px;
    margin: 0;
} 

 .container-three{
    height:1000px;
} 

#dentalprocedure-image{
position:relative;
bottom: 150px;
}

.procedure-text{
    text-align: center;
    text-transform: uppercase;
}
#procedure-list{
    list-style-type: circle;
    list-style-position: inside;
    
}

#list-one{
    padding-top:10px;
    font-size:18px;
    text-align: center;
    padding-bottom:10px;
    font-family: 'Open Sans', sans-serif;
} 

#list{
    font-size:18px;
    text-align: center;
    padding-bottom:10px;
    font-family: 'Open Sans', sans-serif;
}