*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


 #navbar.scrolled{
    background:linear-gradient(rgb(66,2,194), rgb(0, 78, 194));
}

.logo-img{
    font-size: 20px;
    padding-right:8px;
}

.fa-tooth{
    color:white;
}

#vid{
    position: relative;

}

#vid video{
    height:100%;
    width:100%;
    background-position:absolute;
    z-index:10;
    object-fit: cover;
    font-family:'object-fit:cover;';
    display: block;
}

#vid .content{
background:rgba(0,0,0,0);
height:100%;
width:100%;
z-index: 20;
position: absolute;
top:0;
left:0;
}


#vid .content h1{
    color:black;
    font-size: 4vmin;
}



/*1st section */

.section-1{
    padding:20vmin 0;
    background-color: aliceblue;
   
}

.section-1 .row .col-md-6 .dental-image img{
    width:100%;
    height:100%;
    border-radius: 0.2em;
}


.section-1 .row .col-md-6 .caption{
    background:white;
    border-radius:3px;
    text-align: left;
    padding:13vmin 5vmin 20vmin 10vmin;
    box-shadow:0px 25px 42px rgba(0,0,0,0.2);
    z-index: 1;
}

.section-1 .row .col-md-6 .caption h1{
    font-weight:bold; 
    padding: 0.4em 0;
    font-size:1em; 
}
.section-1 .row .col-md-6 .caption p{
    font-size: 0.9em; 
    color:rgba(0,0,0,0.5);
}


 /* 2nd section */
.banner{
    width:100%;
    height:55vmin;
    background:url("/images/white-patient.jpeg");
   background-repeat: no-repeat;
   position:relative;
   overflow: hidden;
}



.banner .banner-content{
background:rgba(0,0,0,0);
height:100%;
width:100%;
padding-top:19vmin;
}
.banner .banner-content h1{
font-size:6vmin;
color:white;
}
.banner .banner-content p{
font-size:2vmin;
color:white;
}




/* 3rd section */
.section-3{
    background-color:whitesmoke;
   
}

.card-img-top{
    text-align: center;
}

/*4th section*/

.section-4{
    background-color:white;
}

.insurance-text h1{
    font-size:6vmin;
}
.insurance-text h6{
    font-size:4vmin;
}

.insurance-images .row img{
    height:120px;
    width:120px;
}

/*footer*/

.footer-new{
    background-color: black;
}

.contact-details{
    color:white;
}
.contact-details p{
    font-size: .9em;
}

.office-hours{
    color:white;
}
.office-hours h4{
    font-size: 20px;
}
.office-hours p{
    font-size: .9em;
}

.quick-links{
   
    color:white;
}
.quick-links h4{
    font-size: 20px;
}
.quick-links a{
    text-decoration: none;
    color:white;
}
.quick-links p{
  font-size: .7em;
}

.social-links h4{
    color:white;
    font-size: 20px;
}

.fa-facebook{
    font-size: .7em;
    color:blue;
}
.fa-twitter{
    font-size: .7em;
    padding-top:5px;
    color:rgb(29,161,242);
}
.fa-instagram{
    font-size: .7em;
    padding-top:5px;
    color:rgb(131,58,180);
}


/* about page */
#vid-2{
    position: relative;

}

#vid-2 video{
    height:100%;
    width:100%;
    background-position:absolute;
    z-index:10;
    object-fit: cover;
    font-family:'object-fit:cover;';
    display: block;
}

#vid-2 .content{
background:rgba(0,0,0,0.05);
height:100%;
width:100%;
z-index: 20;
position: absolute;
top:0;
left:0;
}


#vid-2 .content h1{
    color:white;
}

.jumbo-image img{
    width:100%;
    height:100%;
}



/* about-section2 */

.about-section2{
    background-color: aliceblue;
}
.about-section2 .carousel-inner .card-img-top{
    width:100%;
    height:100%;
}


/*about-section3*/
.fa-phone{
    padding: 8px;
}



/*about-section4 */
.fa-star{
    color:gold;
}


/*services page */
body .cover-vid {
position:relative;

}
body .cover-vid video{
width:100%;
height:100%;
display:block; /*This gets rid of the small margin under the video*/

}

.cover-overlay{
    background-color: rgba(0,0,0,0.11);
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    padding:0;

  
}
.cover-overlay h3{
    font-size:3.5vmin;
    color:white;
}
.cover-overlay h6{
    color:white;
    font-size: 2.0vmin;
}
.cover-overlay .btn{
    font-size:3.0vmin;
    
}



.full-service{
    background-color: white;
}
.full-service h4{
   font-size: 4vmin;
}
.full-service h6{
   font-size: 3vmin;
}

.accordion{
    background-color: none;
}

.accordion .card {
    box-sizing: border-box;
    border:2px solid #addbc6; 
    border-radius: 20px;
   width:100%;

}
.accordion .card a:hover{
  border: none;

}
.accordion .card .card-header{
    background-color: white;
}

.accordion .btn-link:hover{
    text-decoration: none;
}

.accordion .btn-link h4{
    color:black;
    text-decoration: none;
}


/*services-section2*/

.services-section2{
    padding:20vmin 0;
    background-color: aliceblue;
}

.services-section2 .dental-care img{
    width:100%;
    height:100%;
    border-radius: 0.2em;
}
.services-section2 .dental-caretext{
    background-color:aliceblue;
    border-radius: 3px;
    text-align: left;
    padding:13vmin 5vmin 20vmin 10vmin;
    box-shadow:0px 25px 42px rgba(0,0,0,0.2);
    z-index: 1;
}


.services-section2 .dental-caretext ul li{
    list-style-type: none;
    padding-top: .25em;
}
.services-section2 .dental-caretext ul li .fa-check-circle{
    color:green;
}


/*contact-page */

#vid-3{
    position:relative;
}
#vid-3 video{
    width:100%;
    height:100%;
    background-position:absolute;
    object-fit: cover;
    font-family:'object-fit:cover;';
    display:block;
}  
#vid-3 .text{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: 20;
}  




/*shop page nav*/

.fa-shopping-cart{
    color:white;
}

/*shop main*/
.mainshop{
    background-color: aliceblue;
}
.mainshop .card img{
    width:100%;
}


/* Contact-page */

.contact-us{
    background-color: aliceblue;
}

main .row .card{
    transition:all .2s ease-in-out;
    background-color: aliceblue;
}
main .row .card:hover{
    transform:scale(1.1);
}
main .row a{
    text-decoration: none;
    color:black;
}

/* Appointment page */
.appointment-body{
    position:relative;
}

.appointment-body .appointment-image img{
    width:100%;
    height:55vmin;
    background-position: absolute;
    background-size: cover;
}

.appointment-text{
    background-color: rgba(0,0,0,0.2);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
.appointment-text h3{
   color:white;
   font-size:4.5vmin;
}
.appointment-text h4{
   color:white;
   font-size:3.5vmin;
}
.appointment-text h6{
   color:white;
   font-size:3.0vmin;
}

.appointment-form{
    background-color:aliceblue;
}



.textarea{
    width:100%;
    
}




/* Checkout-page */
.form-field{
    width:250px;
    display:inline-block;
    padding:5px;
}

.hidden{
    display: none;
}

.checkout-image .checkout-img{
    height:30px;
}

#checkout-row .price-tag{
   text-align: center;
}