{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class = 'container'>
<div class = 'row'>
    <div class = 'col-lg-12'>
        <div class = 'box-element'>
            <a class = 'btn btn-outline-dark' href = 'main.html'>&#x2190;Continue Shopping</a>
        
        <div class = 'row text-center' id = cartrow-header>
            <div class = 'col-4'>
                <th><h5>Items:<strong> 3</strong></h5></th>
            </div>
            <div class = 'col-4'>
                <th><h5>Total:<strong> $43.00</strong></h5></th>
            </div>
            <div class = 'col-4'>
                <th><a class = 'btn btn-success' href = 'checkout.html'>Checkout</a>
            </div>
        </div>
        </div>
           
<br>
        <div class = 'box-element text-center'>
           <div class = 'row' id = 'rowcart-body'>
               <div class = 'col-3'>
                   <div class = 'items'>
                   <h3>Items</h3>
                </div>
               </div>
               <div class = 'col-3'>
                <div class = 'price'>
                    <h3>price</h3>
                 </div>
               </div>
               <div class = 'col-3'>
                   <div class = 'quality'>
                    <h3>Quality</h3>
                 </div>
               </div>
               <div class = 'col-3'>
                   <div class = 'total'>
                    <h3>Total</h3>
                 </div>
               </div>
           </div>

           <div class = 'row' id = cart-row>
               <div class = 'col-3'>


               </div>
           </div>
        </div>

    </div>
</div>
</div>



{% endblock content %}
 





  <!--  
   