{% extends 'shop/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
<div class="row">
    <div class="col-md-6">
        <form>
            <div class="user-info">
                <div id="form-field">
                    <input required class="form-control" type="text" name="name" placeholder="Name...">
                </div>
            </div>
            </form>
            </div>
    <div class="col-md-6">
        <form>
            <div class="user-info">
                <div id="form-field">
                    <input required class="form-control" type="email" name="email" placeholder="Email...">
                </div>
            </div>
            </form>
            </div>
            <div id="shipping-info">
                <hr>
                <h5>Shipping Information</h5>
                <hr>
            </div>
            
</div>



</div>






{% endblock content %}